.DropdownTriggerLabel_default {
    color: var(--text-ghost);
    white-space: nowrap;
}

.DropdownSuggestionsTitle {
    padding: var(--gap-xs) 0;
    margin-bottom: var(--gap-xs);
    color: var(--text-secondary);
    border-bottom: 1px solid var(--gray-900)
}

.DropdownPanel {
    padding: var(--gap-xs);
}
