.IssueMeta {
    margin-bottom: var(--gap-m);
    max-width: 300px;
}

.IssueMetaTitle {
    border-bottom: 1px solid var(--gray-900);
    margin-bottom: var(--gap-s);
    color: var(--text-secondary);
}
