.ProjectListItemCollapsableRow {
    width: 1020px;
}

.ProjectIcons {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.ProjectTitleWrapper {
    display: flex;
    gap: var(--gap-xs);
    justify-content: space-between;
}

.ProjectSubTitle {
    color: var(--text-ghost);
    font-size: inherit;
    font-weight: inherit;
}