.ModalWrapper {
    display: grid;
    grid-template-columns: 1fr 250px;
    overflow: auto;
    background-color: var(--layer);
}

/* Order of styles on page: SC, CSS Modules */
.ModalHeader.ModalHeader {
    top: 0;
    position: sticky;

    background-color: var(--dropdown);
    border-bottom: 1px solid var(--layer-above);

    /* modal header must be higher than content */
    z-index: 3;
}

/* Order of styles on page: SC, CSS Modules */
.ModalContent.ModalContent {
    /* needed that popups do not overlap each other */
    z-index: auto;
}

/* Order of styles on page: SC, CSS Modules */
.ModalPreview.ModalPreview {
    width: 850px;
    display: flex;
    flex-direction: column;
}
