.EstimateWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.EstimateWarningWrapper {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    color: var(--warn0);
}

.EstimateIcon {
    display: flex;
}
