.NavigationSidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--layer);
    border-right: 1px solid var(--layer-border);
}

.NavigationSidebarHeader {
    display: flex;
    padding: var(--gap-sm);
    border-bottom: 1px solid var(--gray-900);
    align-items: center;
    gap: var(--gap-s);
}

.NavigationSidebarLogo{
    display: flex;
}

.NavigationSidebarTitle {
    flex: 1;
}

.NavigationSidebarContent {
    display: flex;
    flex-direction: column;
    padding: var(--gap-sm);
    gap: var(--gap-sm);
    flex: 1;
    overflow: auto;
}

.Navigation {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    flex: 1;
    overflow: auto;
    padding-right: var(--gap-sm);
    margin-right: calc(var(--gap-sm)* -1);
}

.NavigationSection {
    padding-bottom: var(--gap-s);
    border-bottom: 1px solid var(--gray-900);
}

.NavigationSection:last-child {
    border: 0;
}

.NavigationSectionTitle {
    display: flex;
    align-items: center;
    padding: var(--gap-s) 0;
    color: var(--text-secondary);
    cursor: pointer;
    user-select: none;
}

.NavigationItemLink:hover {
    color: inherit;
}

.MenuItem_active {
    background-color: var(--layer-above);
}