.ErrorTrigger {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--danger10);
    top: -2px;
    right: 0px;
    z-index: 1;
}

/* Order of styles on page: SC, CSS Modules */
.Popup.Popup {
    border-radius: var(--radius-m);
    padding: var(--gap-s);
}
