.WhatsNewFooter {
    padding-top: var(--gap-m);
    display: flex;
    justify-content: end;
    gap: var(--gap-s);
}

.WhatsNewIframe {
    width: 100%;
    height: 400px;
    border: 0;

    visibility: hidden;
}

.WhatsNewIframe_visible {
    visibility: visible;
}
