.SortableContainer {
    display: contents;
}

.SortableListItem_enable {
    cursor: grab;
}

.TableListItemTitle {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);

    min-width: 400px;
    width: 100%;
    margin-right: auto;
    flex-shrink: 1;
}

.GoalTitle {
    color: var(--text-primary);
}

.Owner {
    max-width: calc(var(--table-cell-width) - var(--gap-m));
}

.RelativeTime {
    font-size: var(--font-size-xs);
    color: var(--text-ghost);
}

.GoalTableColumnSecondary {
    color: var(--text-secondary);
}

.GoalTitlePartnterIcon {
    margin-right: var(--gap-xs);
}
