.Form {
    display: flex;
    flex-direction: column;
}

.FormActions {
    justify-content: flex-start;
}

.FormActionsShiftRight {
    margin-left: auto;
}

.SwitchGoalType {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.FormTip {
    display: flex;
    align-items: center;
    max-width: 380px;
    margin-left: auto;
}

.GoalFormPriorityDropdown {
    min-width: 120px;
    width: 100%;
    max-width: 170px;
}

.GoalFormStateDropdown {
    max-width: 170px;
    width: 100%;
}

.GoalFormEstimateDropdown {
    max-width: 170px;
    width: 100%;
}

.GoalFormParentDropdown {
    min-width: 190px;
    width: 100%;
    max-width: 190px;
}

.GoalFormUserDropdown {
    min-width: 190px;
}
