.GoalCriteria {
    /* for non-interactive popups allow inner events */
    pointer-events: all;
    width: 400px;
}

.GoalCriteriaTitle {
    color: var(--text-secondary);
    padding-bottom: var(--gap-xs);
    border-bottom: 1px solid var(--gray-900);
}

.GoalCriteriaTable {
    margin-top: var(--gap-sm);
    margin-bottom: var(--gap-s);
}

.GoalCriteriaItemTitle {
    line-height: 24px;
}

.GoalCriteriaItemTitleStrike,
.GoalCriteriaItemWeight {
    color: var(--text-secondary);
}

.GoalCriteriaWeightColumn {
    text-align: right;
    justify-content: flex-end;
}

.GoalCriteriaTableRow {
    align-items: baseline;
}

.GoalCriteriaTrigger {
    cursor: pointer;
}
.GoalCriteriaLoader {
    display: flex;
    justify-content: center;
}

.GoalCriteriaActions {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.GoalCriteriaActionsItem {
    padding: var(--gap-xs);
}

.GoalCriteriaActionsItem:hover {
    background-color: var(--gray-900);
}

.GoalCriteriaIssueMeta.GoalCriteriaIssueMeta {
    max-width: max-content;
}

/* increasing selector specificity for override SC priority */
.GoalCriteriaIssueMetaReset.GoalCriteriaIssueMetaReset {
    padding: 0;
}

.GoalFormPopupTrigger {
    height: 100%;
    align-self: center;
}

.GoalCriteriaActionDelete {
    color: var(--danger0);
}

.GoalCriteriaCircle {
    color: var(--background-color);
}

.CritriaGoalOwner {
    /* align by middle of first line */
    transform: translateY(0.25em);
}

.CriteriaGoalProject, .CriteriaIsDone {
    color: var(--text-secondary);
}

.GoalCriteriaIsolate::after {
    content: none;
    display: none;
}

.GoalCriteriaProgress {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.GoalCriteriaTitleCell {
    position: relative;
}

.GoalCriteriaTable {
    gap: var(--gap-sm);
}