.HistoryRecordLongTextChangeButton {
    display: inline-block;
}

.HistoryInlineBadge {
    display: inline-flex;
}

.HistoryBadge {
    line-height: 1;
}

.HistoryUserBadge {
    position: relative;
    vertical-align: text-bottom;
    bottom: -7px;
}

.HistoryRecordText {
    color: var(--text-secondary);
}

.HistoryRecordTextPrimary {
    color: var(--text-primary);
}

.HistoryRecordTime {
    color: var(--text-ghost);
}