/* Order of styles on page: SC, CSS Modules */
.PageHeader.PageHeader {
    background-color: var(--layer);
    border-bottom: 1px solid var(--gray-900);
}

.PageHeader .PageHeaderSearch {
    margin-left: var(--gap-m);
}

.PageHeaderSearch {
    width: 100%;
    max-width: 400px;
}

.PageHeader .PageHeaderNav {
    display: flex;
    align-items: center;
}
