.DropdownTriggerButton:hover {
    background-color: transparent;
}

.DropdownTrigger {
    transition: color var(--transition-time) var(--transition-func);
}

.DropdownTrigger:hover {
    color: var(--text-color);
}

.CommentActions {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    margin-right: -10px;
}

.CardInfo {
    display: flex;
    justify-content: space-between;
}

.CardComment {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    word-break: keep-all;
}

.CommentTimestamp {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    color: var(--text-secondary);
}

.Markdown {
    overflow-x: auto;
}

.StateDot {
    position: absolute;
    bottom: -50%;
    right: -50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border: 4px solid var(--layer);
}

.CommentCard {
    position: relative;
    min-height: 60px;
    transition: border var(--transition-time) var(--transition-func);
}

.CommentTime {
    color: inherit;
    font-weight: 600;
}

.CommentCard_highlighted {
    border: 1px solid var(--brand-color);
}

.CommentCard_highlighted::before {
    border: 1px solid var(--brand-color);
}

.CommentActionsItem {
    color: var(--text-secondary);
    display: flex;
    align-items: baseline;
    gap: var(--gap-s);
}

.CommentActionsItem_danger {
    color: var(--danger-500);
}