.DropdownTrigger {
    transition: color var(--transition-time) var(--transition-func);
}

.DropdownTrigger:hover {
    color: var(--text-color);
}

.CommentActions {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    margin-right: -10px;
}

/* Order of styles on page: SC, CSS Modules */
.CardInfo.CardInfo {
    display: flex;
    justify-content: space-between;
    background-color: var(--layer-above);
    color: var(--text-secondary);
}

.CardComment {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    word-break: keep-all;
}

.CommentTimestamp {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    color: var(--text-secondary);
}

.Markdown {
    overflow-x: auto;
}

.StateDot {
    position: absolute;
    bottom: -50%;
    right: -50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border: 4px solid var(--layer);
}

/* Order of styles on page: SC, CSS Modules */
.CommentCard.CommentCard {
    position: relative;
    min-height: 60px;
    border: none;
    background-color: var(--layer-hover);

    transition: border var(--transition-time) var(--transition-func);
}

.CommentCard::before {
    position: absolute;
    z-index: 0;

    content: '';

    width: 14px;
    height: 14px;

    background-color: var(--layer-above);

    transform: rotate(-45deg);
    transition: border var(--transition-time) var(--transition-func);

    top: 8px;
    left: -6px;
}

/* Order of styles on page: SC, CSS Modules */
.CommentCard_highlighted.CommentCard_highlighted {
    border: 1px solid var(--brand-color);
}

.CommentCard_highlighted::before {
    border: 1px solid var(--brand-color);
}
