.FormControlButtons {
    margin-left: auto;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: var(--gap-xs);
}

.FormRow {
    display: flex;
    flex-wrap: nowrap;
    margin-top: var(--gap-sm);
}

.FormControl {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

/* Order of styles on page: SC, CSS Modules */
.GoalBadge.GoalBadge {
    padding: 0;
}

.CriteriaWeightLabel {
    color: var(--gray7);
}

.CriteriaFormWeightWarning {
    color: var(--gray7);
}
