.KanbanColumn {
    display: flex;
    flex-direction: column;
}
.KanbanState{
    padding: var(--gap-m) 0;
    position: sticky;
    width: 100%;
    top: calc(var(--gap-l) + var(--gap-s));
    background: var(--background);
    background: linear-gradient(var(--background) 70%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}
.KanbanSortableList {
    flex: 1;
}

.KanbanLink {
    display: block;
}

.KanbanLink:hover { 
    color: inherit;
}

.KanbanLink:not(:last-child) {
    margin-bottom: var(--gap-sm);
}
