.FormHelpButton {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.CommentFormWrapper {
    position: relative;
}

.CommentFormWrapper::before {
    position: absolute;
    z-index: 1;

    content: '';

    width: 14px;
    height: 14px;

    background-color: var(--input-fill);

    border-left: 1px solid var(--input-border);
    border-top: 1px solid var(--input-border);

    transform: rotate(-45deg);
    /*
        Provides precise vertical & horizontal placements
        of the arrow relative to the form
    */
    top: 10px;
    left: -7px;
}

.CommentFormWrapper_focused::before {
    background-color: var(--input-fill-focused);
    border-color: var(--input-border-focused);
}
