.EstimateYearTriggerWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.EstimateYearItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-xs);
}
