.PartnershipProjectsList {
    padding-left: var(--gap-xs);
}

.GoalRelationKinds {
    margin-bottom: var(--gap-m);
}

.GoalRelationsIssueMeta:last-of-type {
    margin-bottom: var(--gap-s);
}

.GoalTagList {
    margin-bottom: var(--gap-s);
}