.TableRowItem {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 680px;
    align-items: center;
    flex: 1;

    gap: var(--gap-s);
    color: var(--text-color);
    padding: var(--gap-s);
    border-radius: var(--radius-m);
}

.TableRowItem:hover {
    background-color: var(--gray4);
}