.ActivityFeed {
    display: grid;
    row-gap: var(--gap-m);
    padding-bottom: 250px;
    position: relative;
    margin-top: var(--gap-m);
}

.ActivityFeedItem {
    display: grid;
    grid-template-columns: 32px minmax(0, 1fr);
    column-gap: var(--gap-m);
    position: relative;
}

.ActivityFeedItem:first-child::before {
    content: '';
    position: absolute;
    height: var(--gap-l);
    left: 15px;
    top: 0;
    border-left: 1px solid var(--gray5);
    z-index: 0;
    transform: translateY(-100%);
}

.ActivityFeedItem::after {
    content: '';
    position: absolute;
    height: calc(100% + var(--gap-m));
    left: 15px;
    border-left: 1px solid var(--gray5);
    z-index: 0;
}

.ActivityFeedItem:last-child::after {
    content: none;
}

.ActivityFeedItem:first-child::before {
    content: none;
}
