.PageLayout {
    height: 100vh;
    width: 100%;
    display: flex;
}

.PageAside {
    width: 230px;
    flex-shrink: 0;
}

.PageMain {
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: auto;
}

.PageContent {
    flex: 1;
    overflow: auto;
}

.PageScroller {
    margin: 0 var(--gap-sm);
    padding: 0 var(--gap-s);
    padding-top: calc(var(--gap-m) + var(--gap-xs));
    box-sizing: border-box;
}