.CardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DropdownTrigger {
    transition: color var(--transition-time) var(--transition-func);
}

.DropdownTrigger:hover {
    color: var(--text-color);
}

.CardCommentEmptyDescription {
    color: var(--text-secondary);
}
