.CardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardInfoTime {
    font-weight: 600;
}

.DropdownTrigger {
    transition: color var(--transition-time) var(--transition-func);
}

.DropdownTrigger:hover {
    color: var(--text-color);
}

.CardCommentEmptyDescription {
    color: var(--text-secondary);
}

.GoalContentHeaderCard {
    margin-bottom: var(--gap-m);
}

.DropdownItem {
    display: flex;
    align-items: baseline;
    gap: var(--gap-s);
    color: var(--text-secondary);
}
