.NewGoalCriteria {
    /* for non-interactive popups allow inner events */
    pointer-events: all;
    width: 400px;
}

.NewGoalCriteriaTitle {
    color: var(--text-secondary);
    padding-bottom: var(--gap-xs);
    border-bottom: 1px solid var(--gray-900);
}

.NewGoalCriteriaTable {
    margin-top: var(--gap-sm);
}

.NewGoalCriteriaItemTitle {
    line-height: 24px;
}

.NewGoalCriteriaItemTitleStrike,
.NewGoalCriteriaItemWeight {
    color: var(--text-secondary);
}

.NewGoalCriteriaWeightColumn {
    text-align: right;
}

.NewGoalCriteriaTableRow {
    align-items: baseline;
}

.NewGoalCriteriaGoalBadge {
    align-items: baseline;
    cursor: pointer;
}

.NewGoalCriteriaItemCheckbox,
.NewGoalCriteriaGoalBadge {
    padding-left: 0;
    padding-right: 0;
}

.NewGoalCriteriaTrigger {
    cursor: pointer;
}
.NewGoalCriteriaLoader {
    display: flex;
    justify-content: center;
}

.NewGoalCriteriaActions {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.NewGoalCriteriaActionsItem {
    padding: var(--gap-xs);
}

.NewGoalCriteriaActionsItem:hover {
    background-color: var(--gray-900);
}

.NewGoalCriteriaIssueMeta.NewGoalCriteriaIssueMeta {
    max-width: max-content;
}

/* increasing selector specificity for override SC priority */
.NewGoalCriteriaIssueMetaReset.NewGoalCriteriaIssueMetaReset {
    padding: 0;
    
}