.NewGoalCriteria {
    /* for non-interactive popups allow inner events */
    pointer-events: all;
    width: 400px;
}

.NewGoalCriteriaTitle {
    color: var(--text-secondary);
    padding-bottom: var(--gap-xs);
    border-bottom: 1px solid var(--gray-900);
}

.NewGoalCriteriaTable {
    margin-top: var(--gap-sm);
}

.NewGoalCriteriaItemTitle {
    line-height: 24px;
}

.NewGoalCriteriaItemTitleStrike,
.NewGoalCriteriaItemWeight {
    color: var(--text-secondary);
}

.NewGoalCriteriaWeightColumn {
    text-align: right;
}

.NewGoalCriteriaTableRow {
    align-items: baseline;
}

.NewGoalCriteriaGoalBadge {
    padding: 0;
    align-items: baseline;
}

.NewGoalCriteriaTrigger {
    cursor: pointer;
}
.NewGoalCriteriaLoader {
    display: flex;
    justify-content: center;
}

.NewGoalCriteriaItemCheckbox {
    align-items: baseline;
    /* FIXME: https://github.com/taskany-inc/bricks/issues/868 */
    cursor: default;
    pointer-events: none;
}

/* FIXME: https://github.com/taskany-inc/bricks/issues/863 */
.NewGoalCriteriaGoalBadgeState,
.NewGoalCriteriaItemCheckbox input[type="checkbox"] {
    transform: translateY(3px);
}
