.ModalContentButton {
    margin-left: auto;
}

.ModalContentUserList {
    margin-top: var(--gap-s);
}

.ModalContentTip {
    padding: var(--gap-s) 0;
}

/* Order of styles on page: SC, CSS Modules */
.ModalHeaderTitle.ModalHeaderTitle {
    color: var(--warn0);
}
