.Form {
    display: flex;
    flex-direction: column;
}

.FormControl {
    flex: 1;
}

.ProjectTitleContainer {
    display: flex;
    align-items: center;
}

.FormActions {
    align-items: center;
}

.ProjectFormParentDropdown {
    min-width: 190px;
    max-width: 300px;
}