.Form {
    display: flex;
    flex-direction: column;
}

.FormControl {
    flex: 1;
}

.ProjectTitleContainer {
    display: flex;
    align-items: center;
}

.FormActions {
    align-items: center;
}
