.PageNavigationItemLink:hover {
  color: inherit;
}

.PageNavigationLogo {
  display: flex;
}

.Link { 
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.TitleLogo {
  fill:var(--text-primary);
  color: var(--text-primary);
}