.DropdownPanelItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-s);
    width: 100%;
}

.DropdownPanelItem_id {
    color: var(--text-secondary);
}

.DropdownTriggerValue {
    white-space: nowrap;
}

.CreateProjectButton {
    margin-bottom: var(--gap-xs);
    color: var(--text-secondary);
}
