.JiraTaskBadgeType {
    --badge-icon-size: 16px;
    font-size: 16px;
}

.JiraTaskBadgeState {
    color: white;
    background-color: var(--task-badge-color, var(--gray-500));
    width: var(--font-size-m);
    height: var(--font-size-m);
    line-height: 1em;
    display: inline-flex;
    text-align: center;
    justify-content: center;

    border-radius: var(--radius-s);
}

.JiraTaskBadgeStateSymbol {
    vertical-align: 0.125em;
    line-height: 1rem;
}