.FormControl {
    display: flex;
    align-items: center;
}

.FormCreateOptionItem {
    text-align: left;
    max-width: 240px;
}

.FormCreateOptionClue {
    color: var(--gray9);
}

.FormActions {
    gap: var(--gap-sm);
}