.SettingsPageContent {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.SettingsCard:not(:last-child) {
    margin-bottom: var(--gap-m);
}

.SettingsCardItem {
    background-color: var(--gray3);
    padding: var(--gap-s) var(--gap-m);
}

.SettingsCard_view_default {
    --card-background: var(--gray4);
}

.SettingsCard_view_warning {
    --card-background: var(--warn0);
}

.SettingsCard_view_danger {
    --card-background: var(--danger0);
}